<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :lang, @lang %>

  <div class="field">
    <%= f.label 'use_turpial', I18n.t('questions.use_turpial') %>
    <%= f.select(:use_turpial, options_for_select([[I18n.t('options._yes'), 1], [I18n.t('options._no'), 0]]), :class => 'input-mini') %>
  </div>
  <div class="field" id="why_not">
    <%= f.label 'why_not', I18n.t('questions.why_not') %>
    <%= f.text_field :why_not, :class => 'input-xxlarge' %>
  </div>
  <div class="field" id="os_field" >
    <%= f.label 'operating_system', I18n.t('questions.operating_system') %>
    <%= f.select(:operating_system, options_for_select([['Debian','debian'], ['Ubuntu','ubuntu'],['Fedora','fedora'], ['OpenSuse','opensuse'], ['Linux Mint','linux mint'], ['Arch','arch'], [I18n.t('options.other'), 'other']])) %>
  </div>
  <div class="field">
    <%= f.label 'want_mac', I18n.t('questions.want_mac') %>
    <%= f.select(:want_mac, options_for_select([[I18n.t('options._yes'), 1], [I18n.t('options._no'), 0], [I18n.t('options.not_interested'), 2]])) %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('submit'), :class => 'btn btn-success' %>
  </div>
<% end %>
<br/>
