<h1><%= I18n.t 'survey.title' %></h1>
<% if @surveys.empty? %>
  <p>There are no records</p>
<% else %>
  <table>
    <tr>
      <th>Use turpial</th>
      <th>Operating system</th>
      <th>Want mac</th>
      <th>Why not</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @surveys.each do |survey| %>
    <tr>
      <td><%= survey.use_turpial %></td>
      <td><%= survey.operating_system %></td>
      <td><%= survey.want_mac %></td>
      <td><%= survey.why_not %></td>
    </tr>
  <% end %>
  </table>
<% end %>
<br />

<%= link_to 'New Survey', new_survey_path %>
