<p id="notice"><%= notice %></p>

<p>
  <b>Use turpial:</b>
  <%= @survey.use_turpial %>
</p>

<p>
  <b>Operating system:</b>
  <%= @survey.operating_system %>
</p>

<p>
  <b>Want mac:</b>
  <%= @survey.want_mac %>
</p>

<p>
  <b>Why not:</b>
  <%= @survey.why_not %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
